
#experience h2 {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

ul.experienceTabs{
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    overflow: hidden; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}
.experienceTab {
    display: table-cell; /* [4] */
    width:32%;
    text-align: center;
    border-width: 1px 1px 0px 1px;
    border-color: black;
    border-style: solid;
}
.experienceTabText{
    display: block; /* [5] */
}
.experienceTabText .navTexts{
    float: none;
}

ul.experienceTabs li h2{
    margin-top: 0px !important;

}
.experienceContainer{
    display: flex;
}
.experiencePane {
    width: 3%;
    float: left;
    overflow: hidden;
    align-items: stretch;
    -webkit-transition: width 1.2s ;
    transition: width 1.2s ;
    border-width: 0px 0px 1px 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 10px;
    padding: 0;
}

.experiencePane.experiencePaneActive{
    width: 90%;
}

.experiencePane.experienceWellness{
    border-width: 0px 1px 1px 1px;
    border-color: black;
    border-style: solid;

}

.experienceWellness{ background-color: #ffffef; }
.experienceEducation{ background-color: #fffbff; }
.experienceTechnology{ background-color: #fcfffc; }
